.Index {
    text-align: center;
    background-color: #5c54a4;
    color: white;
    font-family: 'Arial', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
.Index-header {
    background: #6c63ff;
    padding: 2em;
    border-radius: 8px;
    margin: auto;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
h1 {
    color: #fff;
    margin-bottom: 0.5em;
  }
  
  p {
    color: #dcdcdc;
    margin-bottom: 2em;
  }
  
button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
  }
  
input[type="text"],
input[type="email"] {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
input[type="checkbox"] {
    margin-right: 10px;
  }
  
form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    display: block;
    margin-bottom: 20px;
    color: #dcdcdc;
    cursor: pointer;
  }
  
  .Index-header > button {
    background-color: #f8f8f8;
    color: #5c54a4;
    margin-bottom: 20px;
  }
  
  /* Ajoutez des médias queries si nécessaire pour rendre le formulaire réactif */
  @media (max-width: 768px) {
    .Index-header {
      width: 95%;
    }
  }