* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
    display: flex;
    background-image: url(Default.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: space-between;
}

.alignement {
  display: flex;
  justify-content: space-between;
  width: 456px; 
  align-items: center; 
}
.line1 {
  width: 190px;
  margin: 4px;
}

.line2 {
  width: 190px;
  margin: -4px;
}
.or{
  color: white !important;
  font-size: 16px;
}
.reseaux{
  display: flex;
  justify-content: space-between;
  width: 456px;
  gap: 20px;
}
.square-container {
    margin-right: 188PX;
    margin-top: 214px;
    margin-bottom: 214px;
    width: 571px;
    height: 596px;
    flex-shrink: 0;
    border-radius: 18px;
    background: #FFF;
  }
.register {
    margin-top: 150px;
    margin-left: 187px;
    text-align: center;
    margin-bottom: 214px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
  }

.register-header {  
    padding: 2em;
    border-radius: 8px;
    width: 100%;
    margin: auto;
    max-width: 500px;
    box-shadow: 0 4p    x 8px rgba(0, 0, 0, 0.2);
  }
.fiest{
  display: flex;
}
h1 {
    color: #fff;
    margin-bottom: 0.5em;
  }
.intro {
  color: white;
  font-family: Anton;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  padding-left: 10px;

  }
.toggle-div{
  display: flex;
  background-color: white;
  width: 456px;
  justify-content: space-between;
  gap: 10px;
}
.terms{
  text-align: center;
}
/*/@font-face {
  font-family: Anton;
  src: local('Anton'), url('./Anton') format('truetype');
}*/
.toggle-fields1{
    display: flex;
    border: none;
    color: black;
    height: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    gap: 20px;
    background-color: #FA00FF;
}
.toggle-fields2{
  display: flex;
    border: none;
    color: black;
    height: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
}
.rejoins{
  color: white;
  font-size: 14px;
  text-align: left;
}
  .submit {
    color: white;
    background-color: #7200FF;
    border-radius: 4px;
    font-size: 14px;
    height: 24px;
    width: 456px;
    border: none;
    padding: 10px 20px; 
    cursor: pointer; /* style de curseur */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Added to prevent content from spilling outside the button */
    position: relative; /* Needed for absolute positioning of children */
    transition: background-color 0.3s;
    }
.submit svg {
    transition: transform 0.3s ease;
    margin-right: 8px;
    margin-bottom: 2px;
}
  
  

.google{
    background-color: white;
    display: flex;
    justify-content: space-between;
    border: none;
    color: black;
    width: 350px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .facebook{
      display: flex;
      justify-content: space-between;
      border: none;
      color: white;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      cursor: pointer;
      border-radius: 4px;
      width: 93px;
      height: 40px;
  }

input[type="text"],
input[type="email"] {
    width: 456px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
input[type="checkbox"] {
    margin-right: 10px;
  }
  
form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    display: block;
    margin-bottom: 20px;
    color: #dcdcdc;
    cursor: pointer;
  }
  
  .register-header > button {
    background-color: #f8f8f8;
    color: #5c54a4;
    margin-bottom: 20px;
  }
  
  /* Ajoutez des médias queries si nécessaire pour rendre le formulaire réactif */
  @media (max-width: 768px) {
    .register-header {
      width: 95%;
    }
  }
  .box {
    height: 1px;
    width: 190px;
  }
  
  .box .line {
    height: 1px;
    left: 0;
    object-fit: cover;
    position: fixed;
    top: 0;
    width: 190px;}
.OR{
    color:white;
    margin-bottom: 2em;
}

.verification-container {
  background-color: #F1F5F9;
  display: flex;
  width: 456px;
  height: 94px;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}

input[type="password"] {
display: flex;
width: 42px;
height: 48px;
justify-content: center;
border: solid 1px #CBD5E1;
border-radius: 4px;
}
.input-digit::placeholder {
  color: #6366F1;
  text-align: center;

}

.digit{
  color: blue;
}