.container {
    display: flex;
    background-image: url('Default.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: space-between;
}

.alignement {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}
.line1 {
  width: 45%;
  margin: 4px;
}

.line2 {
  width: 45%;
  margin: -4px;
}
.reseaux{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.square-container {
    margin-right: 188PX;
    margin-top: 214px;
    margin-bottom: 214px;
    width: 571px;
    height: 596px;
    flex-shrink: 0;
    border-radius: 18px;
    background: #FFF;
  }
.register {
    margin-left: 187px;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
  }
.register-header {  
    padding: 2em;
    border-radius: 8px;
    margin: auto;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 4p    x 8px rgba(0, 0, 0, 0.2);
  }
  
h1 {
    color: #fff;
    margin-bottom: 0.5em;
  }
  
  p {
    color: #dcdcdc;
    margin-bottom: 2em;
  }
.submit{
  background-color: #7200FF;
  height: 20px;
  width: 424px;
  justify-content: center;
  cursor: pointer;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding: 10px 20px;
}
.deux{
  margin-right: 10px;
  position: relative;
  top: 5px;
}
.un{
  margin-right: 10px;
  position: relative;
  top: 5px;
}
.google{
    background-color: white;
    display: flex;
    justify-content: space-between;
    border: none;
    color: black;
    width: 350px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
  }
  .facebook{
      display: flex;
      justify-content: space-between;
      border: none;
      color: white;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      cursor: pointer;
      border-radius: 4px;
      width: 93px;
      height: 40px;
  }
  
input[type="text"],
input[type="email"] {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
input[type="checkbox"] {
    margin-right: 10px;
  }
  
form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    display: block;
    margin-bottom: 20px;
    color: #dcdcdc;
    cursor: pointer;
  }
  
  .register-header > button {
    background-color: #f8f8f8;
    color: #5c54a4;
    margin-bottom: 20px;
  }
  
  /* Ajoutez des médias queries si nécessaire pour rendre le formulaire réactif */
  @media (max-width: 768px) {
    .register-header {
      width: 95%;
    }
  }
  .box {
    height: 1px;
    width: 190px;
  }
  
  .box .line {
    height: 1px;
    left: 0;
    object-fit: cover;
    position: fixed;
    top: 0;
    width: 190px;}
.OR{
    color:white;
    margin-bottom: 2em;
}